{% extends 'users/base.html' %}
{% load my_tags %}
{% block title %}Информация о заявках{% endblock %}
{% block content %}
<style>
  /* Стиль для увеличения объема кнопки */
  .volumetric-btn {
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }

  /* Эффект при наведении */
  .volumetric-btn:hover {
    transform: translateY(-2px); /* Немного поднимаем кнопку */
    box-shadow: 0 8px 20px rgba(0,0,0,0.4); /* Усиливаем тень */
  }
</style>
<section class="py-4 text-center container">
    <div class="row g-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center container">
            <div class="col-md-3 text-center container">
                <div class="card shadow-sm">
                    <a class="btn btn-primary volumetric-btn btn-lg" href="{% url 'applications:application_create' %}" role="button">
                        Добавить заявку
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center container">
                <div class="card shadow-sm">
                    <a class="btn btn-primary volumetric-btn btn-lg" href="{% url 'applications:new_application_form' %}" role="button">
                        Добавить заявку по новой форме
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center container">
                <div class="card shadow-sm">
                    <a class="btn btn-primary volumetric-btn btn-lg" href="{% url 'applications:application_list' %}" role="button">
                        Заявки
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center container">
                <div class="card shadow-sm">
                    <a class="btn btn-primary volumetric-btn btn-lg" href="{% url 'users:home' %}" role="button">
                        На главную
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
