{% extends 'home_page/base.html' %}
{% load my_tags %}
{% block title %}Список заявок{% endblock %}
{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название заявки</th>
                <th scope="col">Отдел</th>
                <th scope="col">Дата исполнения</th>
                <th scope="col">Время исполнения</th>
                <th scope="col">Детали</th>
            </tr>
            </thead>
            <tbody>
            {% for application in object_list %}
            <tr>
                <th scope="row">{{ application.id }}</th>
                <td>{{ application.title }}</td>
                <td>{{ application.department }}</td>
                <td>{{ application.deadline }}</td>
                <td>{{ application.times }}</td>
                <td><a class="link" href="{% url 'applications:application_detail' application.pk %}">Подробнее</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Нет заявок для отображения.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<section class="text-center container">
    {% if user.is_superuser %}
        <a href="{% url 'applications:application_create' %}" class="btn btn-secondary my-2">Добавить заявку</a>
    {% endif %}
        <a href="{% url 'applications:application_info' %}" class="btn btn-secondary my-2">Назад</a>
        <a href="{% url 'home_page:home' %}" class="btn btn-secondary my-2">На главную</a>
</section>
{% endblock %}
