{% extends 'users/base.html' %}
{% load my_tags %}
{% block title %}Создание/Изменение заявки{% endblock %}
{% block content %}
<div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0 d-flex justify-content-center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row g-3">
                    <h4 class="mb-3 text-center">Создание заявки</h4>
                    <div class="row g-3">
                        <div class="col-sm-3 mb-3">
                            <label for="id_deadline" class="form-label">Дата выполнения заявки</label>
                            <input type="date" class="form-control" id="id_deadline" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="is_times" class="form-label">Время выполнения заявки</label>
                            <input type="time" class="form-control" id="is_times" value="{{ time_app }}" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="country" class="form-label">Отдел</label>
                            <select class="form-select" id="country" required>
                                <option value="">Выберите...</option>
                                <option>ОЭГШ</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>

                    <hr class="my-4">
                    <h4 class="mb-3 text-center">Информация по заявке</h4>
                    <div class="col-12">
                        <label for="title" class="form-label">Название заявки</label>
                        <input type="text" class="form-control" id="title" placeholder="Введите название заявки" value="{{ title }}" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="description" class="form-label">Описание заявки</label>
                        <input type="text" class="form-control" id="description" placeholder="Введите описание заявки" value="{{ description }}" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <hr class="my-4">
                    <h4 class="mb-3 text-center">Информация о заявителе</h4>
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Фамилия</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Ваша фамилия" value="{{ last_name}}" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Имя</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Ваше имя" value="{{ first_name }}" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label for="position" class="form-label">Должность</label>
                        <input type="text" class="form-control" id="position" placeholder="Введите Вашу должность" value="{{ position }}" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email <span class="text-body-secondary">(Не обязательно)</span></label>
                        <input type="email" class="form-control" id="email" value="{{ email }}" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label for="phone" class="form-label">Номер телефона</label>
                        <input type="text" class="form-control" id="phone" placeholder="Введите Ваш номер телефона" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>

                </div>

                <hr class="my-4">

                <div class="col-md-3 text-center container">
                    <button class="btn btn-primary" type="submit">Оставить заявку</button>
                    <a class="btn btn-primary" href="{% url 'users:home' %}" role="button">
                        На главную
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
