{% extends 'users/base.html' %}
{% block title %}Создание/Изменение сообщения{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mb-4">
        {% if mailing %}
        Форма изменения рассылки
        {% else %}
        Форма создания рассылки
        {% endif %}
    </h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">
            {% if mailing %}
            Сохранить
            {% else %}
            Создать
            {% endif %}
        </button>
        <a class="btn btn-secondary" href="{% url 'mailing:message_list' %}">Отмена</a>
    </form>
</div>
{% endblock %}
