{% extends 'users/base.html' %}
{% block title %}Информация по сообщениям{% endblock %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center">
            {% if user.is_authenticated %}
            <div class="col">
                <div class="card shadow-sm">
                    <a class="btn btn-primary" href="{% url 'mailing:message_list' %}" role="button">
                        Список сообщений
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <a class="btn btn-primary" href="{% url 'mailing:message_create' %}" role="button">
                        Добавить сообщение
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" >
                    <a class="btn btn-primary" href="{% url 'users:home' %}" role="button">
                        На главную
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
