{% extends 'users/base.html' %}
{% block title %}Создание/Изменение получателя{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mb-4">
        {% if recipient %}
        Форма изменения получателя
        {% else %}
        Форма создания получателя
        {% endif %}
    </h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">
            {% if recipient %}
            Сохранить
            {% else %}
            Создать
            {% endif %}
        </button>
        <a class="btn btn-secondary" href="{% url 'mailing:recipient_info' %}">Отмена</a>
    </form>
</div>
{% endblock %}
