{% extends 'users/base.html' %}
{% block title %}Информация по получателям рассылок{% endblock %}
{% block content %}
<section class="py-3 container">
    <h2 class="mt-1 text-center">Информация о получателях рассылок:</h2>
</section>
<section class="py-3 container">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center">
            {% if user.is_authenticated %}
            <div class="col">
                <div class="card shadow-sm">
                    <a class="btn btn-primary" href="{% url 'mailing:recipient_list' %}" role="button">
                        Список получателей рассылок
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <a class="btn btn-primary" href="{% url 'mailing:recipient_create' %}" role="button">
                        Добавить получателя
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" >
                    <a class="btn btn-primary" href="{% url 'users:home' %}" role="button">
                        На главную
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
