{% extends "home_page/base.html" %}
{% load my_tags %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<section class="text-center container text-black">
    <div class="modal-content rounded-4 shadow">
        <section class="py-3 text-center container text-white">
            <h1 class="display-6">Сервис Управления Отделом</h1>
            <p class="lead">С. У. О. - Это отличное место для управления Отделом.
                Вы можете организовать постановку, контроль, управления задачами сотрудников и заявками Отдела.
            </p>
        </section>
    </div>
</section>
<hr class="my-4 text-white">
{% endblock %}
