{% extends 'users/base.html' %}
{% load my_tags %}
{% block title %}Список задач{% endblock %}
{% block content %}
<section class="py-5 container">
<div class="row g-5">

    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Краткая информация</span>
        </h4>

        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Количество задач:</h6>
                </div>
                <span class="text-body-secondary">{{ task_count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Свободных:</h6>
                </div>
                <span class="text-body-secondary">{{ free_task_count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">В работе:</h6>
                </div>
                <span class="text-body-secondary">{{ start_task_count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Завершено:</h6>
                </div>
                <span class="text-body-secondary">{{ done_task_count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                <div class="text-success">
                    <h6 class="my-0">Отменено:</h6>
                </div>
                <span class="text-success">{{ closed_task_count }}</span>
            </li>
        </ul>
    </div>

    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Список задач</h4>

        {% for task in object_list %}
            <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Название:</h6>
                </div>
                <span class="text-body-secondary">{{ task.title }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Исполнитель:</h6>
                </div>
                <span class="text-body-secondary">{{ task.employee }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Строк исполнения:</h6>
                </div>
                <span class="text-body-secondary">{{ task.deadline }}</span>
            </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Статус:</h6>
                </div>
                <span class="text-body-secondary">{{ task.status }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                <div class="text-success">
                    <h6 class="my-0">Создатель:</h6>
                </div>
                <span class="text-success">{{ task.owner }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                <div class="text-success">
                    <h6 class="my-0">Подробнее:</h6>
                </div>
                <a class="link" href="{% url 'tasks:task_detail' task.pk %}">Посмотреть</a>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>

<section class="py-5 text-center container">
    <a href="{% url 'users:home' %}" class="btn btn-secondary my-2">На главную</a>
</section>

</section>

{% endblock %}
