{% extends 'users/base.html' %}
{% load my_tags %}
{% block title %}Информация о задачах{% endblock %}
{% block content %}
<section class="py-4 text-center container">
    <div class="row g-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center container">
            <div class="col-md-3 text-center container">
                <div class="card shadow-sm">
                    <a class="btn btn-primary volumetric-btn btn-lg" href="{% url 'tasks:task_create' %}" role="button">
                        Добавить задачу
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center container">
                <div class="card shadow-sm">
                    <a class="btn btn-primary volumetric-btn btn-lg" href="{% url 'tasks:task_list' %}" role="button">
                        Задачи
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center container">
                <div class="card shadow-sm">
                    <a class="btn btn-primary volumetric-btn btn-lg" href="{% url 'users:home' %}" role="button">
                        На главную
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
