{% extends 'users/base.html' %}
{% load my_tags %}
{% block title %}Список задач{% endblock %}
{% block content %}
<section class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название задачи</th>
                <th scope="col">Исполнитель</th>
                <th scope="col">Статус задачи</th>
                <th scope="col">Срок исполнения</th>
                <th scope="col">Детали</th>
            </tr>
            </thead>
            <tbody>
            {% for task in object_list %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.title }}</td>
                <td>
                    {% for user in task.employee.all %}
                    <li>{{ user.get_full_name|default:user.username }}</li>
                    {% endfor %}
                </td>
                <td>{{ task.get_status_display }}</td>
                <td>{{ task.deadline }}</td>
                <td><a class="link" href="{% url 'tasks:task_detail' task.pk %}">Подробнее</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Нет задач для отображения.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<section class="text-center container">
    <a href="{% url 'tasks:task_create' %}" class="btn btn-secondary my-2">Добавить задачу</a>
    <a href="{% url 'tasks:task_info' %}" class="btn btn-secondary my-2">Назад</a>
    <a href="{% url 'users:home' %}" class="btn btn-secondary my-2">На главную</a>
</section>

</section>

{% endblock %}
