{% extends 'home_page/base.html' %}
{% block title %}Создание/Изменение задачи{% endblock %}
{% block content %}
<div class="modal-content rounded-4 shadow">
<div class="container text-center-black">
    <h1 class="mb-4">
        {% if task %}
        Форма изменения задачи
        {% else %}
        Форма создания задачи
        {% endif %}
    </h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <section class="py-5 text-center container">
            <button class="btn btn-primary" type="submit">
                {% if task %}
                Сохранить
                {% else %}
                Создать
                {% endif %}
            </button>
            <a class="btn btn-secondary" href="{% url 'tasks:task_info' %}">Отмена</a>
            <a class="btn btn-secondary" href="{% url 'home_page:home' %}">На главную</a>
        </section>
    </form>
</div>
</div>

{% endblock %}
