{% extends "users/base.html" %}
{% load my_tags %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<section class="py-5 text-center container">
<!--    <div class="col-lg-6 col-md-8 mx-auto">-->
        {% if user.is_superuser %}
            <h1 class="fw-light">Привет, {{ user.first_name | default:user.email }}!</h1>
            <h1 class="fw-light">Проверь задачи сотрудников.</h1>
            <a href="#" class="btn btn-primary my-2">Добавить задачу</a>
            <a href="#" class="btn btn-secondary my-2">Активные задачи</a>
        {% elif user.is_authenticated %}
            <h1 class="fw-light">Привет, {{ user.first_name | default:user.email }}</h1>
            <h1 class="fw-light">Проверь свои задачи.</h1>
        {% else %}
            <h1 class="display-6">Сервис управления задачами сотрудников</h1>
            <p class="lead">С.У.З.С. - это отличный вариант управлять задачами сотрудников.</p>
        {% endif %}
<!--    </div>-->
</section>
<section class="py-5 text-center container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center"> <!--  -->
    {% if user.is_authenticated %}
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="#" role="button">Информация о задачах
        </a>
    </div>
    <div class="col">
        {% if user.is_superuser %}
        <a class="btn btn-success w-100" style="text-align: center"
           href="#" role="button">Информация о сотрудниках
        </a>
        {% else %}
        <a class="btn btn-success w-100" style="text-align: center"
           href="#" role="button">Список сотрудников
        </a>
        {% endif %}
    </div>
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'users:user_detail' user.pk %}" role="button">Личный кабинет
        </a>
    </div>
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'users:test' user.pk %}" role="button">Тестовая страница
        </a>
    </div>
    <div class="col">
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success w-100" style="text-align: center" role="button">Выход
            </button>
        </form>
    </div>
    {% else %}
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'users:login' %}" role="button">Вход на сайт
        </a>
    </div>
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'users:register' %}" role="button">Зарегистрироваться на сайте
        </a>
    </div>
    {% endif %}
    {% if user.is_superuser %}
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'admin:index' %}" role="button">Войти в административную часть сайта
        </a>
    </div>
    {% endif %}
</div>
</section>
{% endblock %}
