{% extends "users/base.html" %}
{% load my_tags %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    {% if user.is_superuser %}
        <h1 class="fw-light">Привет, {{ user.first_name | default:user.email }}!</h1>
    {% elif user.is_authenticated %}
        <h1 class="fw-light">Привет, {{ user.first_name | default:user.email }}</h1>
        <h1 class="fw-light">Проверь свои задачи.</h1>
    {% else %}
        <h1 class="display-6">Сервис Управления Задачами Сотрудников</h1>
        <p class="lead">С.У.З.О. - Это отличное место для управления задачами Отдела.
            Вы можете организовать постановку, контроль, управления задачами сотрудников и заявками Отдела.
        </p>
    {% endif %}
</section>
<section class="py-5 text-center container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center"> <!--  -->
    {% if user.is_authenticated %}
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'tasks:task_list' %}" role="button">Информация о задачах
        </a>
    </div>
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'applications:application_info' %}" role="button">Информация о заявках
        </a>
    </div>
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'users:user_list' %}" role="button">Информация о сотрудниках
        </a>
    </div>
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'users:user_info' user.pk %}" role="button">Личный кабинет
        </a>
    </div>
    {% if user.is_superuser %}
<!--    <div class="col">-->
<!--        <a class="btn btn-success w-100" style="text-align: center"-->
<!--           href="{% url 'mailing:recipient_info' %}" role="button">Список рассылок-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--        <a class="btn btn-success w-100" style="text-align: center"-->
<!--           href="{% url 'mailing:message_info' %}" role="button">Список сообщений-->
<!--        </a>-->
<!--    </div>-->
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'admin:index' %}" role="button">Войти в административную часть сайта
        </a>
    </div>
    {% endif %}
    <div class="col">
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success w-100" style="text-align: center" role="button">Выход
            </button>
        </form>
    </div>
    {% else %}
    <div class="col">
        <a class="btn btn-success w-50" style="text-align: center"
           href="{% url 'users:login' %}" role="button">Вход на сайт
        </a>
    </div>
    <div class="col">
        <a class="btn btn-success w-50" style="text-align: center"
           href="{% url 'users:register' %}" role="button">Зарегистрироваться на сайте
        </a>
    </div>
    {% endif %}

</div>
</section>
{% endblock %}
