{% extends 'users/base.html' %}
{% load my_tags %}
{% block title %}Вход на сайт{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <h2>Вход на сайт</h2>
</section>
<section class="py-5 text-center container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">
            Войти
        </button>
        <a class="btn btn-primary" href="{% url 'users:home' %}">
            Отмена
        </a>
    </form>
</section>
{% endblock %}
