{% extends 'users/base.html' %}
{% load my_tags %}
{% block title %}Мой профиль{% endblock %}
{% block content %}
<section class="py-5 container">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
            <div class="col">
                <div class="col-md-6 col-lg-9">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="{{ object.avatar | media_filter }}" width="100%" height="250">
                            <h4 class="my-0 font-weight-normal mt-3">Электронная почта: {{ object.email }}</h4>
                            <h4 class="my-0 font-weight-normal mt-3">Фамилия: {{ object.last_name }}</h4>
                            <h4 class="my-0 font-weight-normal mt-3">Имя: {{ object.first_name }}</h4>
                            <h4 class="my-0 font-weight-normal mt-3">Отчество: {{ object.patronymic | default:"Не указано" }}</h4>
                            <h4 class="my-0 font-weight-normal mt-3">Должность: {{ object.position }}</h4>
                            <div class="col text-center">
                                <a href="{% url 'users:user_update' user.pk %}" class="btn btn-primary my-2">Редактировать</a>
                                <a href="{% url 'users:user_detail' user.pk %}" class="btn btn-primary my-2">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4 class="mb-3">Информация о сотрудниках</h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">На работе:</h6>
                        </div>
                        <span class="text-body-secondary">{{ user.user_at_work_count }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">В отпуске:</h6>
                        </div>
                        <span class="text-body-secondary">{{ user_on_vacation_count }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">На больничном:</h6>
                        </div>
                        <span class="text-body-secondary">{{ user_on_sick_leave_count }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Прогул:</h6>
                        </div>
                        <span class="text-body-secondary">{{ user_truancy_count }}</span>
                    </li>
                </ul>

                <h4 class="mb-3">Информация о задачах</h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Количество созданных задач:</h6>
                        </div>
                        <span class="text-body-secondary"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Количество задач в работе:</h6>
                        </div>
                        <span class="text-body-secondary"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Количество свободных задач:</h6>
                        </div>
                        <span class="text-body-secondary"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <section class="py-5 text-center container">
        <a href="{% url 'users:home' %}" class="btn btn-secondary my-2">На главную</a>
    </section>

</section>

{% endblock %}
