{% extends 'home_page/base.html' %}
{% load my_tags %}
{% block title %}Установка нового пароля{% endblock %}
{% block content %}
<div class="card mb-3 border-0 nth-shadow">
    <div class="card-body">
        <div class="card-title nth-card-title">
            <h4>Установить новый пароль</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark mt-2" type="submit">Подтвердить</button>
        </form>
    </div>
</div>
{% endblock %}
