{% extends 'home_page/base.html' %}
{% load my_tags %}
{% block title %}Список сотрудников{% endblock %}
{% block content %}
<section class="container text-black">
<div class="row g-5">
    <div class="col-md-5 col-lg-6 order-md-last">
        <h4 class="mb-3 text-center">
            <span class="text-black">Краткая информация о сотрудниках</span>
        </h4>

        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <h6 class="my-0">Количество сотрудников:</h6>
                <span class="text-body-secondary-centre">{{ employee_count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <h6 class="my-0">На работе</h6>
                <a class="link" href="#">{{ employee_at_work_count }}</a>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <h6 class="my-0">В отпуске</h6>
                <a class="link" href="#">{{ employee_on_vacation_count }}</a>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <h6 class="my-0">На больничном</h6>
                <a class="link" href="#">{{ employee_on_sick_leave_count }}</a>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <h6 class="my-0">Отсутствуют по невыясненным обстоятельствам</h6>
                <a class="link" href="#">{{ employee_truancy_count }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Электронная почта</th>
                <th scope="col">Статус сотрудника</th>
                <th scope="col">Детали</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in object_list %}
            <tr>
                <th scope="row">{{ employee.id }}</th>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.get_condition_display }}</td>
                <td><a class="link" href="{% url 'employees:employee_detail' employee.pk %}">Подробнее</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Нет сотрудников для отображения.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<section class="text-center container">
    <a href="{% url 'employees:employee_create' %}" class="btn btn-secondary my-2">Добавить сотрудника</a>
    <a href="{% url 'employees:employee_info' %}" class="btn btn-secondary my-2">Информация о сотрудниках</a>
    <a href="{% url 'home_page:home' %}" class="btn btn-secondary my-2">На главную</a>
</section>

</section>

{% endblock %}
